
/* ==========================================================================
   UTILITIES ajoutées par Julie
   ========================================================================== */

h1{
  font-size: 50px;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 30px;
}

h4 {
  font-size: 18px;
}

p {
  font-size: 16px;
}

p.small {
  font-size: 14px;
}

.container {
    width: 50%;
}

.highlighted {
  background-color: white;
  opacity: 0.5;
  padding: 5px 10px;
  border-radius: 5px;
}

.container-full-width {
  margin: 0 auto;
  max-width: 1440px;
  width: 100%;
}

.row .col {
  float: left;
  box-sizing: border-box;
  padding: 0 0rem;
  min-height: 1px;
}
