
/* ==========================================================================
   UTILITIES ajoutées par Julie
   ========================================================================== */

h1{
  font-size: 50px;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 30px;
}

h4 {
  font-size: 18px;
}

p {
  font-size: 16px;
}

p.small {
  font-size: 14px;
}

.container {
    width: 50%;
}

.highlighted {
  background-color: white;
  opacity: 0.5;
  padding: 5px 10px;
  border-radius: 5px;
}

.container-full-width {
  margin: 0 auto;
  max-width: 1440px;
  width: 100%;
}

.row .col {
  float: left;
  box-sizing: border-box;
  padding: 0 0rem;
  min-height: 1px;
}


/* ==========================================================================
   BUTTONS
   ========================================================================== */

.btn-base {
  color: #0E2D44;
  cursor: pointer;
  display: block;
  font-size:16px;
  font-weight: 400;
  line-height: 45px;
  margin: 0 auto 2em;
  max-width: 160px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  vertical-align: middle;
  width: 100%;
  text-align: center;

  &:hover { text-decoration: none; }
}

.btn-1 {
  letter-spacing: 0;
}

.btn-1:hover,
.btn-1:active {
  letter-spacing: 5px;
  transition: all 350ms ease-in-out;
}

.btn-1:after,
.btn-1:before {
  backface-visibility: hidden;
  border: 1px solid rgba(#0E2D44, 0);
  bottom: 0px;
  content: " ";
  display: block;
  margin: 0 auto;
  position: relative;
  transition: all 350ms ease-in-out;
  width: 0;
}

.btn-1:hover:after,
.btn-1:hover:before {
  backface-visibility: hidden;
  border-color: #0E2D44;
  transition: width 350ms ease-in-out;
  width: 70%;
}

.btn-1:hover:before {
  bottom: auto;
  top: 0;
  width: 70%;
}
