.arrow {
  position: absolute;
  bottom: 30px;
  left: calc(50% - 30px);
  width: 100px;
  height: 60px;
  background-image: url('../images/arrow.png');
  background-size: contain;
  background-repeat: no-repeat;
  color: $dark-blue;
}

.scrolldown {
  -webkit-animation: scrolldown 2s ease-in-out infinite;
  animation: scrolldown 2s ease-in-out infinite;
}

@keyframes scrolldown {
  0% {transform: translateY(0) }
  50% {opacity: 1 }
  100% {transform: translateY(30px); opacity: 0 }
}
