.arrow {
  position: absolute;
  bottom: 15px;
  left: calc(50% - 30px);
  width: 60px;
  height: 80px;
  background-image: url('../images/arrow-white.png');
  background-size: contain;
  background-repeat: no-repeat;
  color: $dark-blue;
  cursor: pointer;
}

.scrolldown {
  -webkit-animation: scrolldown 1.5s ease-in-out infinite;
  -moz-animation: scrolldown 1.5s ease-in-out infinite;
  animation: scrolldown 1.5s ease-in-out infinite;
}

@keyframes scrolldown {
  0% {transform: translateY(0); opacity: 1 }
  25% {opacity: 1 }
  50% {opacity: 0.8 }
  75% {opacity: 0.6 }
  100% {transform: translateY(60px); opacity: 0 }
}
