.section {
  padding-top: 40px;
  padding-bottom: 40px;
  color: $grey;
}

.section-header {
  font-size: 30px;
}

.blue {
  background-color: #0277bd !important;
}

.section.blue p {
  color: white !important;
}
