.section-blue {
  background-color: $bg-blue !important;
  padding: 1rem 0;
}
.section-image {
  padding: 2rem 0;
}

#partenaires-section-image {
  @media (max-width: $medium-screen) {
    padding: 16rem 0;
  }
  @media (max-width: $small-screen) {
    padding: 2rem 0;
  }
}
