#footer {
  background-color: $dark-blue;
  margin-top: 0px;
  padding: 45px 300px;
  display: flex;
  justify-content: space-around;
  i {
    color: white;
    font-size: 70px;
    cursor: pointer;
    &:hover {
      color: $brand-grey;
    }
  }
}
