#footer {
  background-color: #0277bd;
  font-size: 11px;
  margin-top: 0px;
}

.footer-copyright {
  background-color: #0277bd !important;
}

.social-links {
  font-size: 20px;
  a {
    padding-right: 10px;
    color: white;
    text-decoration: none;
  }
}
