#footer {
  height: 90px !important;
  background-color: $dark-blue !important;
  margin-top: 0px;
  padding: 20px 300px 0px 300px;
  display: flex;
  justify-content: space-around;
  i {
    color: white;
    font-size: 50px;
    cursor: pointer;
    &:hover {
      color: $bg-blue;
    }
  }
}
