$navbar-font-size: 1rem !default;
$navbar-font-color: white !default;

nav {
  .button-collapse {
    float: right !important;
  }
}

.navbar {
  padding-left: 15px;
  background-color: $dark-blue;
  transition: opacity 0.6s ease-out, margin 0.6s ease-out;
  z-index: 1;
  box-shadow: unset;
  height: 70px !important;
  line-height: 70px !important;
  max-width: 100% !important;
  @media (max-width: $small-screen) {
    height: 56px !important;
    line-height: 56px !important;
  }
}

nav ul a {
  transition: background-color .3s;
  font-size: 1rem;
  color: white;
  display: block;
  padding: 0 15px;
  cursor: pointer;
  .active {
    color: $brand-red !important;
  }
}

#programme-navbar {
  position: absolute;
  top: 0px;
}

#brand-section {
  display: flex;
  align-items: center;
  #logo-bateau {
    background-color: $dark-blue;
    border-radius: 50%;
    width: 100px;
    height: auto;
    @media (max-width: $small-screen) {
      max-width: 70px;
    }
  }
  #brand-name {
    color: white;
    display: inline-block;
    font-size: 1.2rem;
    padding: 0;
    white-space: nowrap;
    margin-top: -25px;
    margin-left: 20px;
    @media (max-width: $small-screen) {
      font-size: 1rem;
      margin-left: 10px;
      margin-top: 0px;
    }
  }
}

.side-nav {
  background-color: $dark-blue !important;
  a {
    color: white !important;
  }
}

#sidenav-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 120vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 0 !important;
}
// Navbar de la page d'accueil qui descend au scroll

#index-navbar {
  position: fixed;
}

.index.navbar {
  opacity: 0;
  margin-top: -70px !important;
}
