$navbar-height: 64px !default;
$navbar-height-mobile: 56px !default;
$navbar-font-size: 1rem !default;
$navbar-font-color: #1781b1 !default;
$navbar-brand-font-size: 2.1rem !default;


#brand-section {
  position: relative;
}

#logo-bateau {
  position: absolute;
  top: -95px;
  left: 20px;
  background-color: $bg-blue;
  border-radius: 50%;
}

#brand-name {
  position: absolute;
  left: 190px;
  color: white;
  display: inline-block;
  font-size: 2.1rem;
  padding: 0;
  white-space: nowrap;
}

nav ul a {
  transition: background-color .3s;
  font-size: 1rem;
  color: white;
  display: block;
  padding: 0 15px;
  cursor: pointer;
}

.navbar {
  padding-left: 15px;
  background-color: $bg-blue;
  color: white !important;
  // position: fixed;
  transition: opacity 0.6s ease-out, margin 0.6s ease-out;
  z-index: 1;
  box-shadow: unset;
}

#index-navbar {
  position: fixed;
}

.index.navbar {
  opacity: 0;
  margin-top: -65px !important;
}

