.actu-title {
  color: $brand-red;
  font-style: italic;
  margin-bottom: 0;
}

.actu-photo {
  max-width: 100%;
}

.actu-contenu {
  margin-bottom: 2rem;
}

.actu-container {
  margin-bottom: 5rem;
}
