.titre-rhino {
  text-align: left;
  font-style: italic;
}

.flex-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

#bateau-maquettes {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.maquette-container img {
  width: 100%;
}

#vectoriel-bateau {
   width: 100%;
}
#bateau-section-blue {
  @media (max-width: $medium-screen) {
    padding: 20rem 0;
  }
  @media (max-width: $small-screen) {
    padding: 1rem 0;
  }
}
