
.titre-rhino {
  text-align: left;
  font-style: italic;
}

.flex-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
#bateau-first-flexbox {
  width: 100%;
  align-items: flex-end;
  .infos-bateau {
    flex: 0 0 42%;
    padding-right: 1rem;
    padding-bottom: 1.5rem;
    @media (min-width: 1440px) {
      padding-right: 0;
    }
  }
  .dessin-bateau {
    padding-left: 1rem;
    flex: 0 0 50%;
    @media (min-width: 1440px) {
      padding-left: 0;
    }
  }
}
#bateau-second-flexbox {
  width: 100%;
  align-items: center;
  #rhino-infos {
    flex: 0 0 42%;
    text-align: right;
    padding-right: 1rem;
    @media (min-width: 1440px) {
      padding-right: 0;
    }
  }
  .rhino-coupe {
    flex: 0 0 50%;
    padding-left: 1rem;
    @media (min-width: 1440px) {
      padding-left: 0;
    }
  }
  #coupe-bateau {
    width: 100%;
    @media (max-width: $medium-screen) {
      max-width: 90%;
    }
  }
}
.small-section {
  @media (min-width: 1025px) {
    margin: 0 8rem;
  }
  @media (min-width: 1280px) {
    margin: 0 4rem;
  }
}
#vectoriel-bateau {
   width: 100%;
}
