// Banner
#parallax-page-index {
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
#homepage-title {
  flex: 0 0 60%;
}
#video-cover {
  min-height: 100%;
  min-width: 100%;
}

// Presentation
#presentation-infos-container {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: space-around;
  .flex-item {
    flex: 0 0 33%;
    @media (max-width: $small-screen) {
      flex: 0 0 100%;
    }
  }
}
#mapmonde-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 1rem 0;
  h3 {
    margin-top: 3rem;
    margin-bottom: 3rem;
  }
  @media (max-width: $small-screen) {
    h3 {
    margin-top: 15px;
    margin-bottom: 15px;
    }
  }
}

#mapmonde-item {
  flex: 0 0 50%;
  text-align: center;
  @media (max-width: $medium-screen) {
    flex: 0 0 100%;
  }
  img {
    height: auto;
    width: 400px;
    @media (max-width: $small-screen) {
      width: 80%;
    }
  }
}

#mapmonde-content {
  flex: 0 0 25%;
  @media (max-width: $medium-screen) {
    flex: 0 0 50%;
    text-align: center;
  }
  @media (max-width: $small-screen) {
    flex: 0 0 100%;
    text-align: center;
  }
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


#skipper-bg{
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  .skipper-bg-item {
    flex: 0 0 50%;
    text-align: justify;
    @media (max-width: $small-screen) {
      flex: 0 0 80%;
    }
  }
  .skipper-photo-item {
    flex: 0 0 50%;
    @media (max-width: $small-screen) {
      flex: 0 0 80%;
    }
  }
}

#photo-matthieu {
  border-radius: 50%;
  border: 2px solid white;
  height: auto;
  width: 400px;
  @media (max-width: $medium-screen) {
    width: 300px;
  }
  @media (max-width: $small-screen) {
    width: auto;
  }
}

.sailing-icons {
  width: 225px;
  @media (max-width: $medium-screen) {
    width: 160px;
  }
  @media (max-width: $small-screen) {
    width: 120px;
  }
  height: auto;
}

.citation {
  margin-top: 45px;
  display: inline-block;
  p {
    text-align: right !important;
  }
}

.home-counter, .minitransat-counter, .minitransat-counter-number, .home-counter-number {
  font-size: 3rem !important;
  @media (max-width: $small-screen) {
    font-size: 1.2rem !important;
  }
}

.btn-cadre {
  border: 1px solid white;
  padding: 10px 20px;
  color: white;
  background-color: transparent !important;
  a {
    text-decoration: none;
  }
  &:hover {
    background-color: white !important;
    opacity: 0.5;
    color: $dark-blue;
    border: 1px solid #023351;
  }
  @media (max-width: $small-screen) {
    font-size: 0.8rem !important;
  }
}
#link-to-foundation {
 padding-bottom: 100px;
 @media (max-width: $small-screen) {
   padding-bottom: 60px;
   padding-top: 200px;
 }
}

#bateau-content {
  padding: 4rem 0;
  p {
    margin: 0px;
  }
  .col:first-child {
    padding: 0px 20px;
    @media (max-width: $small-screen) {
      padding: 0px;
    }
  }
}
.float-left {
  text-align: left;
}
#banner-partenaires {
  width: 100%;
  height: 100%;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

#equipe-section {
  padding: 80px 140px;
}

#team-content {
  margin-left: 2em;
  margin-right: 2em;
}
.description {
  font-size: 1.2em;
}

#banner-equipe {
  width: 100%;
  min-height: 80vh;
  padding-top: 50px;
  padding-bottom: 50px;
  background-image: url(/images/banner-minitransat.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  @media (max-width: $small-screen) {
    background-attachment: initial;
  }
  .row:last-child {
    padding: 25px 0px;
  }
}

#partenaires-content {
  min-height: calc(100vh - 350px) !important;
  .row {
    margin: 20px 0px;
    width: 100%;
  }
}

#contact-form-partenaires {
  margin-top: 0px;
}

#mini-logo {
  max-width: 60%;
}

#media-content {
  .row {
    padding: 0px 20px;
    margin-top: 80px;
  }
  .col {
    padding: 0px 20px;
  }
}
.mobile-picture-container img {
  width: 100%;
  height: auto;
  display: block;
}
#blog-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  @media (max-width: $small-screen) {
    background: $bg-blue;
    padding: 2rem;
  }
}
.plugin-container {
  width: 500px;
  height: 600px;
  max-width: 100vw;
}
