.carousel-image-container {
  background-size: cover;
  height: 280px;
  background-position: center center;
}
.video-container {
  border: 2px solid white;
}
#media-photos-container {
  margin-bottom: 60px;
}
