#section-transat {
  text-align: justify;
  .row {
    margin-bottom: 1.4rem;
    .col:first-child {
      padding: 0 1rem 0 0;
    }
    .col:last-child {
      padding: 0 0 0 1rem;
    }
  }
  // @media (max-width: $small-screen) {
  // }
}
#mini-transat-content {
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  h3 {
    margin: 3rem 0;
  }
  .flex-item {
    flex: 0 0 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
#section-transat-text h4 {
  margin: 1.78rem 0 1.424rem 0;
  text-align: justify;
  line-height: 1.4;
}
#mini-transat-stats {
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  h2 {
    font-size: 3rem;
    margin-bottom: 0;
    margin-top: 3rem;
  }
  p {
    font-size: 1rem;
    margin: 1rem 0 2rem 0;
  }
}
#mini-transat-link {
  text-align: center;
  margin-bottom: 20px;
}
