.logo-section .small-container {
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
    @media (max-width: $small-screen) {
      width: 70%;
    }
  .logo-container {
    flex: 0 0 30%;
    position: relative;
    @media (max-width: $small-screen) {
      flex: 0 0 100%;
    }
    img {
      width: 100%;
      transition: all 0.3s;
      @media (max-width: $small-screen) {
        width: 100%;
      }
    }
    &:hover img {
      transform: scale(1.1);
    }
  }
  .partenaire-presentation {
    flex: 0 0 60%;
    @media (max-width: $small-screen) {
      flex: 0 0 100%;
    }
  }
}
.partenaire-link {
  position: absolute;
  cursor: pointer;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}
#sponsor-titre-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 50% 25% 25%;
  &:hover img {
    transform: none;
  }
  img {
    width: 100%;
    transition: none;
  }
}
.big-logo-container {
  grid-row: 1 / span 1;
  grid-column: 1 / span 2;
}
#first-logo {
  grid-row: 2 / span 1;
  grid-column: 1 / span 1;
}
#second-logo {
  grid-row: 2 / span 1;
  grid-column: 2 / span 1;
}
#third-logo {
  grid-row: 3 / span 1;
  grid-column: 1 / span 1;
}
#fourth-logo {
  grid-row: 3 / span 1;
  grid-column: 2 / span 1;
}
