// page projet
#projet-introduction {
  text-align: justify;
}
#objectif-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  .flex-item {
    flex: 0 0 50%;
    @media (max-width: $small-screen) {
      flex: 0 0 100%;
      text-align: center;
    }
    img {
      float: right;
      height: auto;
      width: 400px;
      @media (max-width: $small-screen) {
        width: 120px;
        float: initial;
      }
    }
  }
}
#partenariat-image {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  img {
    height: auto;
    width: 600px;
  }
  @media (max-width: $small-screen) {
    margin-top: 8rem;
  }
}
#partenariat-content h2 {
  text-align: center;
}

.le-bateau {
  position: absolute;
  top: 10%;
  left: 70%;
  max-width: 220px;
  text-align: left;
  @media (max-width: $medium-screen) {
    top: 0;
  }
  @media (max-width: $small-screen) {
    left: 40%;
    top: -28%;
  }
}

.association {
  position: absolute;
  top: 85%;
  left: 70%;
  text-align: left;
  p {
    margin: 0px;
  }
  @media (max-width: $medium-screen) {
    top: 90%;
    left: 80%;
  }
  @media (max-width: $small-screen) {
    top: 90%;
    left: 66%;
  }
}

.entreprise {
  position: absolute;
  top: 40%;
  left: 5%;
  text-align: left;
  max-width: 315px;
  p {
    margin: 0px;
  }
  @media (max-width: $medium-screen) {
    top: 38%;
    left: 0%;
  }
  @media (max-width: $small-screen) {
    top: 90%;
    left: 5%;
    max-width: 45%;
  }
}
