<footer class="page-footer" id="footer">
  <div class="footer-copyright">
    <div class="container">
      © 2014 Copyright Text
      <div class="social-links right">
        <a class="right" href="#!"><i class="fa fa-facebook"></i></a>
        <a class="right" href="#!"><i class="fa fa-twitter"></i></a>
        <a class="right" href="#!"><i class="fa fa-envelope-o"></i></a>
      </div>
    </div>
  </div>
</footer>
