<div id="brand-footer">
  <div class="copyright">
    <h5><i class="fa fa-copyright" aria-hidden="true"></i> Copyright - Julie Pierre - Projet Mini Transat 2019 Matthieu Perraut</h5>
  </div>
  <div class="plan-du-site">
    <div class="plan-left-side">
      <h5>Plan du site</h5>
      <h6><a href="/">Matthieu Perraut - Accueil</a></h6>
      <h6><a href="minitransat.html">Mini Transat 2019</a></h6>
      <h6><a href="projet.html">Le projet</a></h6>

    </div>
    <div class="plan-right-side">
      <h6><a href="programme.html">Le programme</a></h6>
      <h6><a href="bateau.html">Le bateau, un mini</a></h6>
      <h6><a href="partenaires.html">Les partenaires</a></h6>
      <!-- <h6><a href="media.html" class="hidden">Les media</a></h6> -->
    </div>
  </div>
  <div class="reseaux-sociaux">
    <a href="https://www.facebook.com/matthieu.perraut" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
    <a href="/" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a>
  </div>
</div>
