---
title: Mini Transat Matthieu Perraut | Actualités
description: Découvrez l'avancement du projet de Matthieu Perraut et son Mini. Matthieu vous raconte ses dernières actualités.
---

<div class="section blue justified-content">
  <div class="row">
    <div class="col s10 offset-s1 m6 offset-m3">
      <div class="actu-container">
      <h2 class="actu-title">Le bateau enfin à bon port !</h2>
        <span class="actu-date">01 avril 2017</span>
        <div class="actu-contenu">
          <p>Ce week-end avait lieu le convoyage du bateau entre Lorient et La Turballe, désormais son port d'attache. La croisière inaugurale ! Autant vous dire l'importance de cet événement pour moi. Accompagné de Loulett', nous avons pris la mer en début de matinée sous un grand soleil et non sans une certaine émotion.</p>
          <p>Quelques virements de bord plus tard, nous sortons du chenal de Lorient. L'excitation est à son comble, je n'arrête pas de me répéter : "La vache ! Il est à moi ce bateau !" On biche à mort.</p>
          <p>Il y a presque un peu trop de vent pour une première nav' mais on s'éclate. Pas froid aux yeux, on est sous genaker dix minutes plus tard par vingt noeuds de vent. Le bateau se stabilise et accélère tranquillement, puis le bout dehors fait le tour de l'étais... Et voici le premier vrac à bord du bateau ! Plus de peur que de mal - l'outrigger n'est pas très content mais ce n'est rien.</p>
          <p>Nous arrivons à La Turballe vers 18h30, les copains nous ont réservé un super accueil ! Voilà le bateau baptisé, c'est le début d'une belle aventure.</p>
        </div>
        <%= image_tag 'actu0104.jpg', class: 'actu-photo' %>
      </div>
    </div>
  </div>
</div>
