---
title: Mini Transat Matthieu Perraut | Actualités
description: Découvrez l'avancement du projet de Matthieu Perraut et son Mini. Matthieu vous raconte ses dernières actualités.
---

<div class="main-body">
  <div class="section-blue justified-content">
    <div class="very-small-container">
      <!----- 5eme actualité ------>
      <div class="actu-container">
        <h3 class="actu-title">Entraînement en solo</h3>
        <span class="actu-date">8 mai 2017</span>
        <div class="actu-contenu">
          <p></p>
          <%#= image_tag 'actu-photo0605.jpg', class: 'actu-photo' %>
          <p>Le weekend d'entraînement continue avec encore du solo ce lundi, il va falloir en faire des miles !</p>
          <p>#fonceRhino</p>
        </div>
      </div>
      <!----- 4eme actualité ------>
      <div class="actu-container">
        <h3 class="actu-title">Première nav en solo !</h3>
        <span class="actu-date">6 mai 2017</span>
        <div class="actu-contenu">
          <p></p>
          <%#= image_tag 'actu-carte0605.png', class: 'actu-photo' %>
          <p>La première navigation en solo a été une véritable partie de plaisir pour Matthieu, un tout schuss de 2h30 au largue avec vingt noeuds de vent en moyenne, une belle mer et un beau soleil. Les premières sensations sont bonnes et la navigation s'est super bien déroulée avec une belle moyenne de 11,5nds sur ce long bord sous spi, de la glisse pure !</p>
        </div>
      </div>
      <!----- 3eme actualité ------>
      <div class="actu-container">
        <h3 class="actu-title">Première course d'entraînement : le Tour de Belle-Ile </h3>
        <span class="actu-date">29 avril 2017</span>
        <div class="actu-contenu">
          <p>Ce weekend nous faisions notre première course à bord de Rhino en double avec François ! </p>
          <%#= image_tag 'actu-carte2904.png', class: 'actu-photo' %>
          <p>La journée a été longue puisque nous sommes partis à 7h30 de la Turballe pour arriver (presque) à l'heure sur la ligne de départ. La régate s'est bien déroulée, nous avons pu tester différentes voiles et continuer à bien prendre en main du bateau. Les conditions étaient au top, un bon vent et du soleil, nous avons même eu la chance de croiser un poisson lune (mola mola) au sud de Belle-Ile. 90 miles nautiques plus tard, nous amarrons le bateau au port de la Trinité, il y restera jusqu'à la semaine suivante pour cause de mauvais temps... </p>
          <p>#fonceRhino</p>
        </div>
      </div>

      <!----- 2em actualité ------>
      <div class="actu-container">
        <h3 class="actu-title">1er week-end d'entraînement - Trois jours de nav' !</h3>
        <span class="actu-date">15 avril 2017</span>
        <div class="actu-contenu">
          <p>Au programme de ce premier entraînement : un aller retour à Pornichet afin d'aller saluer nos amis ministes qui arrivent pour la Pornichet Select !</p>
          <%= image_tag 'actu-carte1504.png', class: 'actu-photo' %>
          <p>Nous partons samedi matin avec deux autres bateaux de La Turballe. Quelques bords de près pour se chauffer et envoi du grand spi. Quelques heures plus tard, nous entrons dans le port de Pornichet pour la première fois avec Rhino (mon bateau).</p>
          <p>Dimanche, c'est retour à La Turballe par un vent de nord très léger dans lequel, il faut le dire, nous peinons à trouver de bons réglages.</p>
          <p>Après une navigation très instructive lundi avec Quentin, membre du pôle Mini, Rhino sort de l'eau et retrouve son ber. Au programme : nettoyage, matelotage et retour à l'eau le week-end suivant.</p>
          <p>A suivre.</p>
        </div>
        <%#= image_tag 'actu1504.jpg', class: 'actu-photo' %>
      </div>

      <!----- 1ere actualité ------>
      <div class="actu-container">
        <h3 class="actu-title">Le bateau enfin à bon port !</h3>
        <span class="actu-date">01 avril 2017</span>
        <div class="actu-contenu">
          <p>Ce week-end avait lieu le convoyage du bateau entre Lorient et La Turballe, désormais son port d'attache. La croisière inaugurale ! Autant vous dire l'importance de cet événement pour moi. Accompagné de Loulett', nous avons pris la mer en début de matinée sous un grand soleil et non sans une certaine émotion.</p>
          <p>Quelques virements de bord plus tard, nous sortons du chenal de Lorient. L'excitation est à son comble, je n'arrête pas de me répéter : "La vache ! Il est à moi ce bateau !" On biche à mort.</p>
          <p>Il y a presque un peu trop de vent pour une première nav' mais on s'éclate. Pas froid aux yeux, on est sous genaker dix minutes plus tard par vingt noeuds de vent. Le bateau se stabilise et accélère tranquillement, puis le bout dehors fait le tour de l'étais... Et voici le premier vrac à bord du bateau ! Plus de peur que de mal - l'outrigger n'est pas très content mais ce n'est rien.</p>
          <p>Nous arrivons à La Turballe vers 18h30, les copains nous ont réservé un super accueil ! Voilà le bateau baptisé, c'est le début d'une belle aventure.</p>
        </div>
        <%= image_tag 'arrivee-rhino-la-turballe.jpg', class: 'actu-photo' %>
      </div>
    </div>
  </div>
</div>
