---
title: Le bateau Mini
description: Découvrez le Mini de Matthieu, une machine de course de seulement 6,50m qui participera à la Mini Transat 2019.
---

<div class="section blue center-align" id="bateau-content">
  <%= image_tag "bateau.svg", id: "vectoriel-bateau" %>
  <div class="row">
    <div class="col m4 offset-m3">
      <p class="justified-content">Machines de courses de seulement 6.50m, les minis ont toujours été le laboratoire de la course au large. Pro tant d’un rapport poids / puissance imbattable, ce sont des bateaux exigeants qui  lent à plus de vingt nœuds dans de longs surfs et sont conçus pour aller affronter l’Atlantique !</p>
    </div>
    <div class="col m2 float-left">
      <p>Longueur : 6,50m</p>
      <p>Largeur : 3,00m</p>
      <p>Tirant d’eau : 1,60m</p>
      <p>Tirant d’air : 11,00m</p>
      <p>Poids : 1 Tonne</p>
      <p>Surface de voiles : 100m2</p>
    </div>
  </div>
</div>
