---
title: Le bateau Mini
description: Découvrez le Mini de Matthieu, une machine de course de seulement 6,50m qui participera à la Mini Transat 2019.
---

<div class="main-body">
  <div class="section-blue" id="bateau-section-blue">
    <div class="small-container">
      <div id="bateau-content">
        <h2 class="titre-rhino brand-red-text">Rhino !</h2>
        <p class="justified-content">Machines de courses de seulement 6.50m, les minis ont toujours été le laboratoire de la course au large. Profitant d’un rapport poids / puissance imbattable, ce sont des bateaux exigeants qui filent à plus de vingt nœuds dans de longs surfs et sont conçus pour aller affronter l’Atlantique !</p>
        <br>
        <p class="justified-content">Deux catégories se distinguent : les protos d'une part, laboratoires d'innovations depuis de nombreuses années et les séries d'autre part, des bateaux plus raisonnables et abordables mais surtout aux performances relativement équivalentes entre eux, ce qui rend la compétition aussi haletante.</p>
        <br>
        <p class="justified-content">Mon bateau est un Nacira 6.50. Il a été construit en 2012. Mini de série d'avant dernière génération, il est fiable, marin et performant. Il s'appelle Rhino !</p>
      </div>
      <div id="bateau-maquettes">
        <div class="maquette-container maquette-first">
          <%= image_tag "maquette-bateau-mini-transat.png" %>
        </div>
        <div class="maquette-container maquette-second">
          <%= image_tag "maquette-mini-batisseurs-avenir.png" %>
        </div>
      </div>
    </div>
  </div>
  <div class="full-page-image" style="background-image: url('<%= image_path 'photo-mini-6.50-rhino.jpg' %>')"></div>
</div>
