---
title: Objectif Mini Transat - L'équipe | Matthieu Perraut
description: Objectif - être au départ de la Mini Transat en 2019. Découvrez l'équipe du projet de Matthieu.
---

<div class="section blue justified-content">
  <div class="row">
    <div class="col s10 offset-s1 m8 offset-m2">
      <h4>Pour un tel projet il faut s’entourer des meilleurs ! L’objectif de Matthieu est de constituer une équipe d’acteurs aux comptétences variées qui apporteront leur expertise tout au long du projet. La dimension entrepreneuriale du projet est source de motivation pour toute l’équipe.</h4>
    </div>
  </div>
</div>
<div id="banner-equipe", class="responsive-img" style="background: url('<%= image_path "resized-banner-partenaires.jpg"%>') no-repeat fixed">
  <div class="row">
    <div class="col s10 offset-s1 m8 offset-m2">
      <%= image_tag "photo-equipe.png", class: "responsive-img", id: "team-picture" %>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col s2 offset-s5">
      <a href="/partenaires.html" class="btn-cadre center-align">Contactez-nous !</a>
    </div>
  </div>
</div>
