<div id="media-content">
  <div class="parallax-container" style="height: 1000px;">
    <div class="parallax">
      <%= image_tag "media-image.jpg", style: "display: block; transform: translate3d(-50%, 227px, 0px)" %>
    </div>
    <div class="row">
      <div class="col m4 center-align">
        <div class="brand-card" style="background-image: url('images/photo-matthieu.jpg');">
          <div class="brand-card-description">
            <h3>Titre de l'actu</h3>
          </div>
          <a class="brand-card-link" href="#" ></a>
        </div>
      </div>
      <div class="col m4 center-align">
        <div class="brand-card" style="background-image: url('images/photo-matthieu.jpg');">
          <div class="brand-card-description">
            <h3>Titre de l'actu</h3>
          </div>
          <a class="brand-card-link" href="#" ></a>
        </div>
      </div>
      <div class="col m4 center-align">
        <div class="brand-card" style="background-image: url('images/photo-matthieu.jpg');">
          <div class="brand-card-description">
            <h3>Titre de l'actu</h3>
          </div>
          <a class="brand-card-link" href="#" ></a>
        </div>
      </div>
    </div>
  </div>
</div>
