---
title: Objectif Mini Transat 2019 - Matthieu Perraut
description: La Mini Transat 2019 - une transatlantique en solitaire qui a vu naître d'excellents navigateurs. Matthieu vous invite à découvrir cette course mythique.
---
<div class="main-body">
  <div class="section-blue">
    <div class="small-container">
      <div id="section-transat">
        <h1>La Mini Transat 2019</h1>
        <div class="row">
          <div class="col s12 m6">
            <p>La Mini Transat a été créée pour réagir au gigantisme des courses transatlantiques qui sont organisées depuis les années 70. Fondée en 1977 par l’Anglais Bob Salmon, la Mini arrive sur le territoire français en 1985 et s’élance tour à tour de Brest, Concarneau à destination des Antilles. Puis de 2001 à 2011 de La Rochelle vers Salvador de Bahia au Brésil, les escales se succèdent dans l’archipel espagnol des Canaries ou sur l’île portugaise de Madère.</p>
            <p>La spécificité de la Mini Transat est l’absence de communication totale entre les concurrents et la terre.
            C’est cet isolement pendant la course qui fait la magie et le mystère de la Mini Transat.</p>
            <p>Véritable épreuve sportive courue sur les plus petits bateaux de course au large existants, la Mini n’en demeure pas moins une véritable aventure pour chacun des skippers.</p>
          </div>
          <div class="col s12 m6">
            <p>De tous âges, de toutes classes sociales et d’expériences nautiques diverses, les marins viennent à la Mini pour réaliser le rêve d’une vie, s’élancer dans une carrière professionnelle de coureur, mais tous s’accordent à dire : « Passe ta Mini d’abord ».
            </p>
            <p>
            Les skippers doivent avant tout être de bons navigants, mais pas que : ils doivent aussi savoir préparer techniquement leur Mini (peinture, gréement, matériaux composites, électronique), se connaître personnellement au mieux (alimentation, efforts physiques, cycles de sommeil), et surtout être de bons communicants à terre afin d’attirer des partenaires dans leur Mini Transat.
            </p>
            <br>
            <br>
            <h4 class="right">« Passe ta mini d’abord »</h4>
          </div>
        </div>
      </div>
    </div>
  </div>

<div class="section-image" style="background-image: url('<%= image_path "photo-a-la-barre.jpg"%>'); background-repeat: no-repeat; background-size: cover; background-position: center;">
  <div class="small-container">
    <div id="mini-transat-content">
      <div class="flex-item">
        <h3><span class="minitransat-counter" data-count="22">0</span>  ème édition</h3>
        <h3><span class="minitransat-counter" data-count="84">0</span>  coureurs</h3>
        <h3><span class="minitransat-counter-number">2</span>  étapes</h3>
      </div>
      <div class="flex-item">
        <h3><span class="minitransat-counter" data-count="30">0</span>  jours de course</h3>
        <h3><span class="minitransat-counter" data-count="132">0</span>  organisateurs</h3>
        <h3><span class="minitransat-counter" data-count="4500">0</span>  milles nautiques</h3>
      </div>
    </div>
  </div>
</div>

<div class="section-blue">
  <div class="small-container">
    <div id="section-transat-text">
      <h4>Si la Mini Transat est une course en solitaire en mer, elle est avant tout solidaire à terre entre les marins : entraide, partage, coups de mains dans les moments difficiles, entraînements, préparations. Les ministes évoluent au sein d’une véritable communauté inexistante dans les autres courses : on l’appelle <span class="brand-red-text">« L’Esprit Mini »</span>.</h4>
    </div>
  </div>
</div>

<div class="section-image full-height-image" style="background-image: url('<%= image_path "photo-rhino-tranche.jpg"%>'); background-size: cover; background-repeat: no-repeat;">
  <div class="container">
    <div id="mini-transat-stats">
      <div class="flex-item">
        <h2>800</h2>
          <p>journalistes accrédités et autant d'articles publiés</p>
          <h2>45 000</h2>
          <p>participants au jeu Virtual Regatta</p>
          <h2>4 000</h2>
          <p>sujets presse</p>
      </div>
      <div class="flex-item">
        <h2>5 000 000</h2>
        <p>pages vues sur le site officiel de la course</p>
        <h2>300 000</h2>
        <p>personnes atteintes sur Facebook</p>
        <h2>260 000</h2>
        <p>vues sur Dailymotion</p>
      </div>
    </div>
    <div id="mini-transat-link">
      <a href="http://www.minitransat.fr/" class="btn-cadre center-align" target="_blank">Site officiel de la Mini Transat</a>
    </div>
  </div>
</div>
</div>
