---
title: Matthieu Perraut - Les partenaires
description: Découvrez les partenaires du projet.
---

<div class="section blue">
  <p class="section-header center-align">Devenez partenaire du projet et embarquez dans<span class="brand-red-text gras"> l'aventure</span> !</p>
</div>

<div class="parallax-container valign-wrapper" id="partenaires-content">
  <div class="parallax">
    <%= image_tag "resized-banner-partenaires.jpg" %>
  </div>
  <div class="row">
    <div class="col m2 offset-m2 center-align">
      <%= image_tag "mini-logo.png", id: "mini-logo" %>
      <h3>Logo des partenaires</h3>
    </div>
  </div>
</div>
