---
title: Matthieu Perraut - Le programme d'entraînement
description: Un programme chargé, découvrez ce qui attend Matthieu Perraut d'ici la course tant attendue en 2019.
---

<div class="parallax-container valign-wrapper">
  <div class="parallax">
    <%= image_tag "matthieu-image-home.jpg", style: "display: block;" %>
  </div>
  <div class="row valign">
    <div class="col s12">
      <h2 class="center-align gras">Objectif : être au départ de la Mini Transat en octobre 2019</h2>
    </div>
  </div>
</div>
<div class="section blue cenger-align">
  <h1 class="center-align">AGENDA</h1>
  <%= image_tag "courses.svg", style: "width: 80%;" %>
</div>
