---
title: Programme Mini Transat - Matthieu Perraut
description: Mini Transat 2019 - Découvrez le programme chargé de courses avant le jour J.
---

<div class="parallax-container valign-wrapper" style="height: 100vh;">
  <div class="parallax">
    <%= image_tag "resized-banner-programme.jpg", style: "display: block;" %>
  </div>
  <div class="row valign" style="width: 100%;">
    <div class="col s10 offset-s1 m10 offset-m1">
      <h1 class="big-title center-align gras"><span class="brand-red-text">Objectif :</span> être au départ de la Mini Transat en octobre 2019</h1>
    </div>
  </div>
</div>

<div class="section-blue">
  <div class="small-container">
    <div id="programme-content">
      <h2 class="center-align">Trois ans de courses et de préparation</h2>
      <%= image_tag "calendrier.png" %>
      <h2 class="center-align">Les principales courses du circuit Mini</h2>
      <%= image_tag "carte-courses.png" %>
    </div>
  </div>
</div>
