---
title: Objectif Mini Transat - Matthieu Perraut - Le projet
description: Objectif - Etre au départ de cette course mythique en 2019. Découvrez le projet de Matthieu.
---

<div class="section blue justified-content">
  <div class="row">
    <div class="col s10 offset-s1 m6 offset-m3">
      <p>Nous souhaitons mettre à profit l’ensemble des ressources et l’énergie déployée pendant ces trois ans afin de servir une cause qui nous est chère : <span class="brand-red-text">la préservation de l’environnement</span>. Nous soutenons le principe de <span class="brand-red-text">l’économie circulaire</span>, un concept économique basé sur le développement durable qui vise à reconsidérer notre façon de consommer. L’objectif est de promouvoir un modèle durable à l’inverse de notre consommation actuelle en circuit linéaire (extraire, consommer, jeter). Nous y voyons un mécanisme d’avenir, aussi nous souhaitons mettre notre énergie au service de sa promotion.</p>
    </div>
  </div>
</div>
<div class="parallax-container valign-wrapper">
  <div class="parallax">
    <%= image_tag "resized-banner-projet.jpg", style: "display: block;" %>
  </div>
  <div class="objectif-content center-align">
    <div class="objectif-text-left">
      <h4>Notre objectif :</h4>
      <p>Soutenir l'économie circulaire en lui apportant énergie et temps.</p>
      <br>
      <h4>Comment y parvenir :</h4>
      <p>S’appuyer sur une association et une entreprise en vue de créer un projet unique de co-création.</p>
      <br>
      <h4>Notre projet :</h4>
      <p>Nous aimerions baser notre projet sur la mise en avant de la filière de recyclage des bateaux, le projet pourra prendre différentes formes et nous sommes ouverts aux propositions.</p>
    </div>
    <div class="objectif-icon-right center-align">
      <%= image_tag "logo-recyclage.svg", style: "width: 320px; height: auto;", class: "responsive-img" %>
    </div>
  </div>
</div>
<div class="section blue center-align" id="partenariat-content">
  <h2 class="section-header"><span class="brand-red-text">L’objectif du projet :</span> donner de la visibilité et accélérer la transition vers l’économie circulaire</h2>
  <br>
  <%= image_tag "partenariat-tripartite.svg", style: "height: 500px; width: auto;", class: "responsive-img" %>
  <div class="le-bateau">
    <h4>LE BATEAU</h4>
    <p>Un support de communication unique & un laboratoire flottant</p>
  </div>
  <div class="association">
    <h4>L'ASSOCIATION</h4>
    <p>Le porte drapeau du projet</p>
    <p>Avantage : Visibilité</p>
  </div>
  <div class="entreprise">
    <h4>L'ENTREPRISE</h4>
    <p>Le partenaire  nancier du projet</p>
    <p>Offrir une visibilité sur un sujet ciblé</p>
    <p>Communiquer en interne sur sa participation à un projet innovant et responsable</p>
  </div>
</div>
<div class="section blue center-align" id="link-to-foundation">
  <a href="https://www.ellenmacarthurfoundation.org/fr/economie-circulaire/concept" class="btn-cadre center-align" target="_blank">Site officiel de la fondation Ellen Macarthur</a>
</div>
