<h4 class="grey-text text-lighten-1 center-align">Exemple de présentation du projet</h4>
<div class="parallax-container" style="height: 1000px;">
  <div class="parallax">
    <%= image_tag "matthieu-image3.jpg", style: "display: block; transform: translate3d(-50%, 227px, 0px" %>
  </div>
  <div class="container small-container">
    <div class= "center-align", style="background-color: white; height: 50%">
      <h1>Test</h1>
    </div>
  </div>
</div>
